<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="container">


        <form method="POST" action="/login" class="form_container">
        <h1>Login to your account</h1>
        <div class="inpt-row"> 
                <input type="text" name="username"class="inpt-field" placeholder="Username" required>
            </div>
            <div class="inpt-row"> 
                <input type="password" name="password" class="inpt-field" placeholder="password" required>
            </div>
            <% if (typeof message !== 'undefined') { %>
                <div class="alert"><%= message %></div>
            <% } %>
            <button type="submit"class="btn-rg">Login</button>
        </form>
    </div>
</body>
</html>
