*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1
{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    color: rgb(85, 85, 85);
    text-decoration: none;
    font-size: 1em;
}
.form_container
{
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 450px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 50px 0px;
    border-radius: 20px;
}
.form_container > *
{
    margin-bottom: 50px;

}
.field-container
{
    width: 100%;
    background-color: blueviolet;
}
body
{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right top, #efd5ff 0%,  #9192dd 50%, #4f56c0 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn-rg
{
    width: 100%;
    border-radius: 100px;
    border: none;
    background-image: linear-gradient(to right, #9192dd, #4f56c0);
    cursor: pointer;
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 400;
}
.btn-rg:hover
{
    background-color: rgb(51, 85, 148);

}
.inpt-field
{
    width: 100%;
    padding: 20px 10px 0px;
    border: none;
    border-bottom: 1px solid grey;
    font-size: 1em;
}
.inpt-field:focus, input:focus{
    outline: none;
}
.inpt-field,
.btn-rg
{
    cursor: pointer;
    height: 50px;
}
.inpt-row
{
    width: 100%;
}
.link-lg
{
    cursor: pointer;
}


@media screen and (max-width: 500px) {
    .form_container {
        width: 90%;
        height: 60%;
    }
}
.alert
{
    width: 100%;
    color: rgb(156, 0, 0);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: 600;
}